<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Fórum</title>
</head>
<body>
  <header>
    <h3>FOTOGRAFIA GELADA</h3>
    <nav>
      <button><a href="/login">Login</a></button>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
    <h4>FOTOGRAFIA</h4><h4>GELADA</h4>
    <img src="/src/views/icons/Twitter.svg" alt=""><p>Copyright - 2024</p>
    
  </footer>
</body>
</html>
