<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Concert One">
  <link rel="stylesheet" href="/public/styles/style.css">
  <link rel="stylesheet" href="/src/images/">
</head>
<body>
  <hr>
  <p class="home">Home</p>
  <hr>
  <div class="grid-container">
    <div class="grid-item item">
      <img src="/src/views/posts/MonteFuji.jpg" alt="Monte Fuji">
    </div>
    <div class="grid-item item1">
      <img src="/src/views/posts/images/Everest.jpg" alt="Everest">
    </div>
    <div class="grid-item item">
      <img src="/src/views/posts/images/AlpesSuiços.jpg" alt="Alpes Suiços">
    </div>
    <div class="grid-item">
      <img src="" alt="Grand Canyon">
    </div>
    <div class="grid-item">
      <img src="img/imagem5.jpg" alt="Imagem 5">
    </div>
  </div>
</body>
</html>