<h2>Posts</h2>
<a href="/posts/create">Criar novo post</a>
<ul>
  {{#each posts}}
  <li>
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <div class="post-actions">
      <span class="likes">{{this.likes}} ❤️</span>
    </div>
  </li>
  {{/each}}
</ul>
